#BeginnerLesson3x3 {
  overflow: auto;
}
.roofpig-container {
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.roofpig {
  width: 210px;
  margin-top: 7%;
  margin-bottom: 7%;
  border: 0 !important;
  align-self: center;
}
.roofpig-picture {
  width: 200px;
  margin: 7%;
}
.wrap {
  flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .roofpig {
    width: 23vw;
  }
  .roofpig-picture {
    width: 25vw;
  }
}
@media only screen and (max-width: 600px) {
  .roofpig-container {
    flex-direction: column;
  }
  .roofpig {
    width: 60vw;
  }
  .roofpig-picture {
    width: 50vw;
  }
}
