/* Top menu */
header {
  display: none;
  z-index: 10;
}
header a {
  font-size: 125%;
  color: white;
}
header a:hover {
  color: white;
}
@media only screen and (max-width: 600px){
  #topTabs ul {
    display: block;
  }
}
/* Drop down button */
#scrollButton img {
  height: 4vh;
  filter: brightness(0)invert(1);
}
#scrollButton {
  background-color: #463730;
}
