html, body {
	height: 100vh;
	width: 100vw;
	scroll-behavior: smooth;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}
#cardContainer {
	height: 100%;
	width: 100%;
	padding-bottom: 15vh;
}
/* Main card */
.card {
	min-height: 30vh;
	height: auto;
	width: 40vw;
}
/* Cube avatar */
#avatarContainer {
	border-radius: 5px;
	height: 20vh;
	width: 19vh;
}
#topAvatar {
	height: 18vh;
	width: 17vh;
}
/* Form */
input[type=text] {
	height: 10vh !important;
	font-size: 175% !important;
	font-weight: bold !important;
	text-transform: uppercase;
}
#resetPasswordForm label {
	/* Not working ? */
	display: table-cell;
	vertical-align: middle;
}
